.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}


.column-header {
    -fx-size: 65;
    -fx-border-style: null;
    -fx-border-color: -swatch-grey;
    -fx-border-width: 14 14 0 0;
    -fx-background-color: #e9c46a;
    -fx-alignment: CENTER;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 30px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
    -fx-alignment: CENTER;
}

